@font-face {
  font-family: "monster";
  src: url("./assets/fonts/mrsmonstercond.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'monster', sans-serif;
}


