@font-face {
  font-family: "monster";
  src: url("./assets/fonts/mrsmonsterrotate2.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "monster2";
  src: url("./assets/fonts/mrsmonsterboldoutital.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'monster', sans-serif;
}


